body {
    text-align: center;
}


h1 {
    background-color: red;
    color: white;
}


p {
    background-color: green;
    color: white;
}


button {
    background-color: orange;
    border-color: white;
}